        body {
            margin: 0;
            padding: 0;
            background-color: rgb(18, 18, 18);
            overflow: hidden;
           
        }
        .navbar{
         transition: 0.5s ease-in-out;
        }
        /* #section {
            background-color: black;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        } */
        #section1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),url(./bg.jpg);
            background-attachment: fixed;
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
        }
        #section2 {
            background-color: white;
            height: 100vh;
   
        }
        #section3 {
            background-color: white;
            height: 100vh;
           
        }
       
        .navbar-brand {
            color: rgb(255, 255, 255);
            font-size: 30px;
            text-decoration: none;
            font-family: 'Assassin$', sans-serif;
                                                
            
        }
        
        .navbar-brand:hover {
            color: white;
        }
        .fname{
            color: red;
        }
        
        .nav-link {
            text-transform: uppercase;
            color: white;
            font-size: 17px;
            font-weight: 300;
        }
        
        .nav-link:hover {
            color: white;
        }
        
        ul li a {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        .cup {
            position: relative;
            left: 8%;
        }

        .active_nav .navbar-brand{
            transition: 0.5s ease-in-out;
            color: black;
        }
        .active_nav .navbar-brand .fname{
            color: red;
        }

        .active_nav ul li a{
            transition: 0.5s ease-in-out;
            color:black;
        }
    
    .title{
        position: absolute;
        top: 8rem;
        text-align: center;
        color: white;
        height: 30rem;
    }
    .my{
        color: red;
    }
    .image{ 
        position: relative;
        height: 33rem;
        bottom: 3.3rem;
        left: 3rem;
    }
 

    .cv{
        position: relative;
        top:3rem;
        border-color: white;
    }
    .abt{
        position: relative;
        top:3rem;
    }

    .type{
        position: relative;
        top: 12rem;
    }
    .type h1{
        position: relative;
        right: 4rem;
        font-family: 'Gantari', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Pacifico', cursive;
        font-family: 'PT Sans', sans-serif;
    }
    .buttons{
        position: relative;
        right:5rem;
    }   
    .div{
        display:inline-block;
     
    } 

    @media  (max-width:767px) {
        #section1{

            
            background-attachment: fixed;
            /* height: 100vh; */
            background-size: cover;
            background-repeat: no-repeat;
            /* background-position: center; */
        }
        .type h1 {
            position: relative;
            right: -1rem;
        }
        .buttons {
            position: relative;
            right: -1rem;
        }
    }